.header {
  display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.25rem;
}

#renew {
  cursor: pointer;
}

.addList {
  border-style: none;

}

::-webkit-input-placeholder {
  font-style: italic;
}

.arrow-btn {
  border-style: none;
  background-color: #fff;
}

.AddingList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CleanDone {
  text-align: center;
  background-color: #f8f9fA;
  margin-top: -1rem;
  padding: 1rem;
}

.anchor {
  text-decoration: none;
  color: grey;
}

.List-Task {
  margin-top: 1rem;
}

.label {
  margin-left: 1rem;
}

.toDo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  border-style: none;
}